<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>My library</title>
</head>
<body>
   Dit is de Layout File hoofd gedeelte Before
   <br />
   <!-- e - na de % is specifiek voor4 de layouts -->
   <!-- zou ooki met incluyde hebben gekund -->
   <%- body %>
   <br />
   Dit iis ook de Layoutfile After
</body>
</html>