<h2 class="page-header">New Author</h2>
<form action="/authors" method="POST">
   <%- include('_form_fields') %>
   <!-- de a is niet een "echte button" maar een redirect/link naar anderse pagina -->
  <a href="/authors">Cancel</a> 
  <button type="submit">Create</button>
</form>